.errorContenedor{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 3vh 10vw;
}

.LinkBlancoNone , .LinkBlancoNone:hover{
    color: white;
    text-decoration: none;
}
.logoNav{
    width: 70px ;
}
.logoFooter{
    width: 18vw; 
    min-width: 200px;
}
.logoHero{
    width: 25vw; 
    min-width: 210px;
}
.divisorFooter{
    border-color : white;
    width : 50%;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) ;
}

/*{{borderColor : "white",width : "50%"}}*/
.contenidoBody {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    
}


.contenedorHome{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.MiCarrouselEstilo{
    display: flex;
    justify-content: center;
}

/*para agrandar el tamaño del carrousel hay que agrandar el tamaño del slide*/
.slideEstilo{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenCarrousel{
    width : 40%;
    height: 40vh;
    margin :5px; 
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:  flex;
    align-items: center;

}
.callToAction , .hero{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.hero{
    
    padding : 0 5vw;
    padding-top: 5%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) ;
}
.callToAction{
    margin-top: 5vw;
    height: 40vw;
    background-color: rgb(50,50,50);
    background-blend-mode: soft-light;
    min-height: 400px;
    
}
footer{
    background-color: #000;
    color: white;
    width: 100vw;
}
footer  h5{
    color: #00AEEF
}
footer div.social{
    width: 40px;
    height: 40px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
}
.estilosLinkNav{
    text-decoration: none;
    color: white;

}
.estilosLinkNav :hover{
    color:white;
    text-decoration: underline;
}
.estilosLinkNavActive{
    color : #00ffff;
}
.estilosLinkFooter{
    text-decoration: none;
}
.estilosLinkFooter:hover{
    text-decoration: underline;
}
div.estiloLogoNav{
    display: flex;
    align-items: center;
    margin-right: 4vw;
}

/*Slide*/
.nombreCiudad{
    background-color: rgba(0,0,0,.562);
     color: white; 
     width :100%; 
     text-align: center;
     font-size: 1.75em;
}

/*--------------------------Cities------------------------*/
.contenedorCities{
    flex-grow: 1;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portadaCities{
    width: 100vw;
    min-width: 100vw;
    height: 45vh;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: rgba(163, 163, 163, 0.123);*/
    background-color: rgba(0,0,0,0.300);
    background-blend-mode: soft-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.portaTituloFiltradorCities{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 3em;
}
.portaTituloFiltradorCities h1{
    font-size: 2rem;
}
.portaCiudadadesFiltradas{
    margin: 0 3em;
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.fotoCiudadCities{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40vw;
    height: 30vh;
    min-width: 300px;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 43%);
    margin: 2.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transition: transform,0.25s;
}
.fotoCiudadCities:hover{
    transform: scale(1.1);
}
.fotoCiudadCities:hover >*{
    display: none;
}
.esqueletoFotoCiudadCities{
    box-shadow: 8px 8px 10px rgb(0 0 0 / 43%);
    margin: 2.5vh;
}

.ciudadNoEncontrada{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60%;
    min-width: 300px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 43%);
}

.ciudadNoEncontrada .nombreCiudad{
    font-size: 2em;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 90%);
    border-radius: 20%;
    margin: 5% 10%;
    padding: 10vw;
    text-align: center;
}
/*-----------------------cityItineraries------------------------------*/
.cityItinerariesContenido{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cityItinerariesPortada{
    width: 90vw;
    height: 60vh;
    margin-top: 5vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.300);
    background-blend-mode: soft-light;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 24px;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 43%);
}
/*------------------------Itinerario--------------------------*/
.contenedorItinerario{
    padding: 3vh 0;
    margin-top: 5vw ;
    width: 70vw;
    min-height: 40vh;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 43%);
    background-color: hsla(0,0%,100%,.884);
    text-align: center;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.tituloItinerario{
    background-color: #00AEEF;
    width: 60vw;
    border-radius: 30px;
}
.tituloItinerario h3{
    display: inline;
    color:white
}
.autorItinerarioFoto{
    margin-top: 3vh;
    width: 10vw;
    height: 10vw;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.portaPrecioDuracion{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 3vw;
}

.portaPrecio , .portaDuracion{
    width:  50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
}
span.PriceDuration{
    font-weight: bold;
    font-size: 1.1em;
}
.portaSVGPriceDuration{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.portalikesHashtags{
    display: flex;
    width: 100%;
    padding: 0 3vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.portaLikes , .portaHashtags{
    width:  50%;
    min-width: 258px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}
.portaHashtags{
    width: 90%;
    flex-wrap: wrap;
}
span.hashtags{
    font-size: 1.1em;
    font-weight: bold;
    color: #3e52c1;
    margin: 0 3px;
    overflow-wrap: break-word;
}
.sinItinerariosContenedor{
    padding: 3vh 0;
    margin-top: 5vw ;
    width: 70vw;
    min-height: 40vh;
    box-shadow: 8px 8px 10px rgb(0 0 0 / 43%);
    text-align: center;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sinItinerariosContenido{
    background-color: hsla(0,0%,100%,.884);
     color: black; 
     width :80%; 
     text-align: center;
     font-size: 1.75em;
     padding: 3vh 2.5vw;
     border-radius: 25px;
}
.esqueletoPrecio{
    width: 40%;
    height: 10px;
}