.contenidoHome{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}

.MiCarrouselEstilo{
    
    display: flex;
    justify-content: center;
}

/*para agrandar el tamaño del carrousel hay que agrandar el tamaño del slide*/
.slideEstilo{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenCarrousel{
    width : 40%;
    height: 40vh;
    margin :5px; 
    border-radius: 5%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:  flex;
    align-items: center;

}

.hero{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}